.home {
  width: 100%;
}

/* HERO */
.hero {
  height: 70vh;
  background: linear-gradient(
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
    ),
    url("https://images.unsplash.com/photo-1521334884684-d80222895322")
      center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: skyblue;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-btn {
  background: #ff3f6c;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px 20px;
}

.feature-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.feature-card h3 {
  margin-bottom: 8px;
}

/* CTA */
.cta {
  text-align: center;
  padding: 40px 20px;
  background: #f8f8f8;
}

.cta-btn {
  display: inline-block;
  margin-top: 12px;
  padding: 10px 22px;
  background: #2874f0;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

/* FEATURED PRODUCTS */
.featured {
  padding: 40px 20px;
  text-align: center;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.featured-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.featured-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.featured-card button {
  margin-top: 10px;
  padding: 8px 14px;
  background: #ff9f00;
  border: none;
  color: white;
  cursor: pointer;
}

.view-all {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  font-weight: 600;
  color: #2874f0;
}


.categories {
  padding: 40px 20px;
  text-align: center;
}

.category-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.category-card {
  padding: 30px 40px;
  background: #2874f0;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
}


.testimonials {
  background: #f8f8f8;
  padding: 40px 20px;
  text-align: center;
}

.testimonial-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.testimonial-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 260px;
}


