* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-color: #f5f5f5;
}

.app {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Headings */
h1, h2 {
  margin-bottom: 15px;
  color: #333;
}

/* Buttons */
button {
  padding: 8px 14px;
  background-color: #ff9f00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #fb8c00;
}

/* Layout */
.main {
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  gap: 20px;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-card p {
  font-size: 15px;
  margin-bottom: 10px;
  color: #555;
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2874f0;
  color: white;
  padding: 15px 25px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.navbar h2 {
  font-size: 22px;
}
*/


.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}


.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-card p {
  font-size: 15px;
  margin-bottom: 10px;
  color: #555;
}

.cart {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}

.cart-item span {
  font-size: 14px;
}

.cart h3 {
  margin-top: 15px;
  color: #111;
}


.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}


.wishlist-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
}


